{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% if request.user.is_staff %}
            <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
        {% endif %}

        <!-- Leaflet.js -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    </head>
    <body class="{% if request.user.is_staff %} dark-mode {% endif %}">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">
                    <h1 class="navbar-brand">トラベルプ</h1>
                </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:index' %}">ホーム</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:search' %}">検索</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:post' %}">投稿作成</a>
                    {% if request.user.is_authenticated %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:myprofile' %}">プロフィール</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:mypost' %}">マイポスト</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:myplan' %}">マイプラン</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:fundraising_list' %}">募金</a>
                    {% endif %}
                    
                    {% if request.user.is_staff %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'travelp:create_fundraising' %}">募金プロジェクト作成</a>
                    {% endif %}
                </div>
            </div>            
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex justify-content-between">
                    <h1 class="navbar-brand">{% block header %}ホーム{% endblock %}</h1>
                    {% if request.user.is_authenticated %}
                        <div class="text-end">
                            こんにちは、{{ request.user.username }} さん！
                        </div>
                    {% endif %}
                </nav>
 
                <!-- Page content-->
                <div class="container-fluid">
                    {% block content %}{% endblock %}

                    <!-- ページネーションを投稿の下に配置 -->
                    <div class="d-flex justify-content-center mt-5">
                        {% include 'pagination.html' %}
                    </div>
                </div>                    
            </div>  
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- scripts.js を先に読み込む -->
        <script src="{% static 'js/scripts.js' %}"></script>  
        <!-- Google Maps API の読み込みを最後にして、async defer をつける -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDDDHZjQfBlY3LpUJF8W3NwNQygZj38qo&libraries=places&callback=initMap" async defer></script>
    </body>
</html>
