{% extends 'base.html' %}

{% block title %}トラベルプ - ログイン{% endblock %}

{% block header %}ログイン{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="container my-5">
<h2>ログイン</h2>
<!-- メッセージがあれば表示 -->
        {% if messages %}
<div class="alert alert-info">

            {% for message in messages %}
<p>{{ message }}</p>

            {% endfor %}
</div>

        {% endif %}
<!-- ログインフォーム -->
<form method="POST">

            {% csrf_token %}
<div class="mb-3">
<label for="user-id" class="form-label">ユーザーID</label>
<input type="text" id="user-id" name="user-id" class="form-control" placeholder="ユーザーIDを入力" required>
</div>
<div class="mb-3">
<label for="password" class="form-label">パスワード</label>
<input type="password" id="password" name="password" class="form-control" placeholder="パスワードを入力" required>
</div>
<div class="mb-3">
        <a href="{% url 'travelp:password_change' %}">パスワードを忘れた場合</a>
</div>
<button type="submit" class="btn btn-primary">ログイン</button>
</form>
<div class="register-link mt-3">
<p>アカウントをお持ちでないですか？ <a href="{% url 'travelp:signup' %}">登録する</a></p>
</div>
</section>
</div>

{% endblock %} 