{% extends 'base.html' %}

{% block title %}パスワード変更{% endblock %}

{% block header %}パスワード変更{% endblock %}

{% block content %}
<div class="container">
<h2>パスワード変更</h2>
<form method="post" action="{% url 'travelp:password_change' %}">

    {% csrf_token %}
<label for="username">ユーザー名:</label>
<input type="text" id="username" name="username" required>
<label for="new_password">新しいパスワード:</label>
<input type="password" id="new_password" name="new_password" required>
<button type="submit">パスワードを変更</button>
{% if messages %}
<div class="alert alert-danger">
   {% for message in messages %}
<p>{{ message }}</p>
   {% endfor %}
</div>
{% endif %}
</form>
</div>

{% endblock %} 