{% extends 'base.html' %}

{% block title %}募金{% endblock %}

{% block header %}募金{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- 必要項目を入力し募金するフォーム -->
    <form>
        <label for="amount">募金金額</label></br>
        <input type="number" min="1" id="amount" name="amount" placeholder="入力してください">円<br><br>

        <label for="message">応援メッセージ（任意）</label></br>
        <textarea id="message" name="message" rows="5" cols="50"></textarea><br><br>

        <p>支払い方法</p>
        <fieldset>
            <div>
                <input type="radio" id="card" name="payment" value="pcard" class="radiobutton">
                <label for="card">クレジットカード</label>
            </div>
            <div>
                <input type="radio" id="bank" name="payment" value="pbank" class="radiobutton">
                <label for="bank">銀行振込</label>
            </div>
        </fieldset><br>

        <input type="submit" value="募金" class="button">
    </form>
    <!-- フォームここまで -->
</div>
{% endblock %}
