<!-- タイトルとナビゲーションボタン -->
<section class="py-2"> <!-- padding を小さくする -->
  <div class="row py-lg-2"> <!-- py-lg-2 で縦の余白を調整 -->
    <div class="col-lg-6 col-md-8 mx-auto">
      <!-- タイトルと本文 -->
      <h1 class="fw-light"> トラベルプ</h1>
      <p class="lead text-muted"></p>
      <p>
        <!-- ナビゲーションボタン -->
        {% if user.is_authenticated %}
        <!-- ログイン中のボタン -->
        <a href="{% url 'travelp:post' %}"
           class="btn btn-primary my-2">投稿する</a>
        <a href="{% url 'accounts:logout' %}"
           class="btn btn-secondary my-2">ログアウト</a>
        {% else %}
        <!-- ログイン状態ではない場合のボタン -->
        <a href="{% url 'accounts:login' %}"
           class="btn btn-secondary my-2">登録済みの方はログイン</a>
        <a href="{% url 'accounts:signup' %}"
           class="btn btn-secondary my-2">アカウント登録</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>
  