<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}
<!-- ヘッダー情報のページタイトルを設定する -->
{% block title %}投稿削除{% endblock %}
{% block header %}投稿削除{% endblock %}
      {% block content %}
      <!-- Bootstrapのグリッドシステム -->
      <br>
      <div class="container">
        <!-- 行を配置 -->
        <div class="row">
          <!-- 列の左右に余白offset-3を入れる -->
          <div class="col offset-3">
            <!--自分自信にPOST送信-->
            <form method="POST">
              <br>
              <p>削除してもいいですか?</p>
              {% csrf_token %}
              <button class="button1"
                      type="submit">削除</button>
              <a href="{% url 'photo:photo_detail' object.pk %}"
                 class="btn btn-secondary my-2">キャンセル</a>
          </div>
        </div>
      </div>
      {% endblock %}