{% extends 'base.html' %}
{% load static %}
{% block title %}プロフィール{% endblock %}
{% block header %}プロフィール{% endblock %}
 
{% block content %}
<section class="container my-5">
    <div class="profile-container">
        <div class="profile-header">
            <h2>
                {% if user.nickname %}
                    {{ user.nickname }}さんのプロフィール
                {% else %}
                    {{ user.username }}さんのプロフィール
                {% endif %}
            </h2>
        </div>
 
        <div class="profile-info">
            <div class="icon">
                <!-- ユーザーのプロフィール画像 -->
                {% if user.profile_image %}
                    <img src="{{ user.profile_image.url }}" alt="プロフィール画像">
                {% else %}
                    <img src="business60.jpg" alt="デフォルト画像">
                {% endif %}
            </div>
            <div class="details">
                <div>
                    <div class="label">ユーザー名:</div>
                    <div class="content">
                        {% if user.nickname %}
                            {{ user.nickname }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="label">自己紹介:</div>
                    <div class="content">{{ user.profile_description|default:"ここに自己紹介文がありません。自分について教えてください！" }}</div>
                </div>
            </div>
        </div>
  <div class="user-posts">
    <h3>投稿した記事</h3>
    {% for post in user_posts %}
      <div class="post">
        <li><a href="{% url 'travelp:post_detail' pk=post.pk %}">{{ post.title }}</a></li>
      </div>
    {% empty %}
      <p>投稿はまだありません。</p>
    {% endfor %}

    {% if user.nickname %}
    <h3>{{ user.nickname }}さんのプラン</h3>
    {% else %}
    <h3>{{ user.username }}さんのプラン</h3>
    {% endif %}

    {% if plans %}
      <div class="row g-4">
        {% for plan in plans %}
          <div class="col-12 col-sm-6 col-md-4"> 
            <div class="card shadow-sm">
                {% if plan.thumbnail %}
                    <img src="{{ plan.thumbnail.images.first.image.url }}" class="card-img-top" width="100%" height="225" alt="プランのサムネイル">
                {% else %}
                    <img src="{% static 'default-thumbnail.jpg' %}" class="card-img-top" width="100%" height="225" alt="デフォルト画像">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ plan.name|default:"無題のプラン" }}</h5>
                    <p class="card-text">投稿数: {{ plan.posts.count }}</p>
                    <a href="{% url 'travelp:plan_detail' plan_id=plan.id %}" class="btn btn-sm btn-outline-secondary">詳細を見る</a>
                </div>
            </div>
          </div>  <!-- ここまでが1つのカード -->
        {% endfor %}
      </div>
    {% else %}
      <p>まだプランを作成していません。</p>
    {% endif %}
  </div>
</div>
</section>
{% endblock %}