<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>トラベルプ</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">トラベルプ</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="home">ホーム</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="search">検索</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="post">投稿作成</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="profile">プロフィール</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="mypost">マイポスト</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="myplan">マイプラン</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="pay">募金</a>
                <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a> -->
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!-- <h1 class="navbar-brand container-fluid">トラベルプ</h1> -->
                <h1 class="navbar-brand">ホーム</h1>
               
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html><!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>トラベルプ</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">トラベルプ</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="home.html">ホーム</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="search.html">検索</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="post.html">投稿作成</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="profile.html">プロフィール</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="mypost.html">マイポスト</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="myplan.html">マイプラン</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="pay.html">募金</a>
                <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a> -->
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!-- <h1 class="navbar-brand container-fluid">トラベルプ</h1> -->
                <h1 class="navbar-brand">ホーム</h1>
               
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>