{% extends 'base.html' %}

{% block title %}投稿詳細{% endblock %}

{% block header %}投稿詳細{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>投稿タイトル</h2>
    <p>投稿内容がここに表示されます。</p>
    <p>投稿詳細の情報がここに表示されます。</p>
    <hr />
    <h4>コメントセクション</h4>
    <div class="comment-section">
        <div class="comment">
            <p><strong>コメント者名:</strong> コメント内容</p>
        </div>
        <div class="comment">
            <p><strong>コメント者名:</strong> コメント内容</p>
        </div>
        <!-- 必要に応じてコメントを追加 -->
    </div>
    <hr />
    <a href="mypost.html" class="btn btn-primary">マイポストに戻る</a>
</div>
{% endblock %}
