<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コメント投稿</title>
    <link href="static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>コメント投稿</h1>
    </header>

    <section>
        <h2>投稿にコメントする</h2>
        <label for="comment">コメント:</label><br>
        <textarea id="comment" name="comment" required></textarea><br><br>

        <button type="submit">コメントする</button>
        </form>

        <h3>コメント一覧</h3>
        <ul>
            <li>コメント 1</li>
            <li>コメント 2</li>
            <li>コメント 3</li>
        </ul>
</section>

</body>

</html>