{% extends "base.html" %}

{% block title %}リセット完了{% endblock title %}


{% block content %}

<div class="container px-4 px-lg-5 mt-5">
    <div class="row">
        <div class="col offset-2 py-4">
            <h3>パスワードのリセット手順をメールで送信しました。
                メールはすぐに届きます。</h3>
            <br>
            <h6>
                メールが届かない場合は、登録済みのメールアドレスであるかを
                確認し、迷惑メールフォルダーも確認してみてください。</h6>
            <br>
            <p class="">
                <a href="{% url 'travelp:index' %}">トップページに戻る</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}