{% extends "base.html" %}

{% block title %}パスワードリセットフォーム{% endblock title %}


{% block content %}

<div class="container px-4 px-lg-5 mt-5">
    <div class="row justify-content-center">
        <form method="post">
            {% csrf_token %}
            <div class="row g-3 justify-content-center">
                <div class="col-8">
                    <label for="{{form.old_password.id_for_label}}" class="form-label">旧パスワード</label>
                    <!-- <input type="password" class="form-control ms-5" id="password" placeholder="" value=""> -->
                    {{form.old_password}}
                </div>
                <div class="col-8">
                    <label for="{{form.new_password1.id_for_label}}" class="form-label">パスワード</label>
                    <!-- <input type="password" class="form-control ms-5" id="password1" placeholder="" value=""> -->
                    {{form.new_password1}}
                </div>
                <div class="col-8">
                    <label for="{{form.new_password2.id_for_label}}" class="form-label">パスワード（確認）</label>
                    <!-- <input type="password" class="form-control ms-5" id="password2" placeholder="" value=""> -->
                    {{form.new_password2}}
                </div>
                <div class="row mt-5 justify-content-center">

                    {% for error in form.new_password2.errors %}
                    <p style="color:red">{{ error }}</p>
                    {% endfor %}
                    <button class="w-50 btn btn-primary btn-lg" type="submit">変更</button>
                </div>
                <br>
                <div class="col-8">
                    <p class="ms-5">
                        <a href="{% url 'travelp:index' %}">トップページに戻る</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}