{% extends 's_base.html' %}

{% block title %}ページ作成{% endblock %}

{% block header %}ページ作成{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- タイトル、画像を入力し募金ページを作成するフォーム -->
    <form>
        <label for="title">タイトル</label></br>
        <input type="text" id="title" name="title" placeholder="入力してください"><br><br>
        
        <label for="photo">使用する画像</label></br>
        <input type="file" id="photo" name="photo" accept="image/*" ><br><br>
        
        <input type="submit" value="作成" class="button">
    </form>
    <!-- フォームここまで -->
</div>
{% endblock %}