{% extends 's_base.html' %}

{% block title %}投稿作成{% endblock %}

{% block header %}投稿作成{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- タイトル、テキスト、画像を入力し投稿するフォーム -->
    <form>
        <label for="title">タイトル</label><br>
        <input type="text" id="title" name="title" placeholder="入力してください"><br><br>
        
        <label for="description">テキスト</label><br>
        <textarea id="description" name="description" rows="5" cols="50" placeholder="入力してください"></textarea><br><br>
        
        <label for="photo">画像or動画</label><br>
        <input type="file" id="photo" name="photo" accept="image/*" ><br><br>
        
        <input type="submit" value="投稿" class="button">
    </form>
    <!-- フォームここまで -->
</div>
{% endblock %}