{% extends 'base.html' %}

{% block title %}トラベルプ - ログイン{% endblock %}

{% block header %}ログイン{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="container my-5">
        <h2>ログイン</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">ユーザーID</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="ユーザーIDを入力" required>
            </div>
            {% comment %} <div class="mb-3">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="パスワードを入力" required>
            </div> {% endcomment %}
            <div class="form-group">
                <label for="password">パスワード</label>
                <div class="password-container">
                    <input type="password" name="password" id="password" placeholder="パスワード">
                </div>
            </div>
            
            <div class="mb-3">
                <a href="{% url 'accounts:password_reset' %}">パスワードを忘れた場合</a>
            </div>
            <button type="submit" class="btn btn-primary">ログイン</button>
        </form>
        <div class="register-link mt-3" style="position: absolute; bottom: 0; width: 100%; text-align: center;">
            <p>アカウントをお持ちですか？ <a href="{% url 'accounts:signup' %}">登録する</a></p>
        </div>
    </section>
</div>
{% endblock %}



