{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}募金{% endblock %}

{% block header %}募金{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    <p>目標金額: ¥{{ project.goal_amount|format_with_commas }}</p>
    {% comment %} <p>現在の集まった金額: ¥{{ project.raised_amount|format_with_commas }}</p> {% endcomment %}
    <p>残りの金額: ¥{{ project.get_remaining_amount|format_with_commas }}</p>
    {% if request.user.is_staff %}
    {% else %}
    {% if fundraising.is_completed %}
    <p class="text-danger">この募金は終了しました。</p>
    {% else %}
    <h2>募金する</h2>
    <form method="post" action="{% url 'travelp:donate' project.id %}">
        {% csrf_token %}
    <label for="amount">募金金額</label></br>
    {% comment %} <input type="number" min="50" id="amount" name="amount" placeholder="入力してください" required> {% endcomment %}
    <h5>1000円</h5>
     
        <label for="message">応援メッセージ（任意）</label></br>
    <textarea id="message" name="message" rows="5" cols="50"></textarea><br><br>
     
        <p>支払い方法</p>
    <fieldset>
    <div>
    <input type="radio" id="card" name="payment" value="pcard" class="radiobutton" required>
    <label for="card">クレジットカード</label>
    </div>
    {% comment %} <div>
    <input type="radio" id="bank" name="payment" value="pbank" class="radiobutton" required>
    <label for="bank">銀行振込</label>
    </div> {% endcomment %}
    </fieldset><br>
     
        <div id="bank-transfer-info" style="display: none;">
    <p>銀行振込の詳細情報を表示</p>
    </div>
     
    </form>
     
    <form action="{% url 'travelp:create_checkout_session' project.id %}" method="POST">
        {% csrf_token %}
    <button type="submit" id="stripe-button" style="display: none;" class="button">カード情報を入力</button>
    </form>
     
    {% endif %}


    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const cardRadio = document.getElementById("card");
        const bankRadio = document.getElementById("bank");
        const stripeButton = document.getElementById("stripe-button");
        const bankInfo = document.getElementById("bank-transfer-info");
     
        function togglePaymentMethod() {
            if (cardRadio.checked) {
                stripeButton.style.display = "block";
                bankInfo.style.display = "none";
            } else {
                stripeButton.style.display = "none";
                bankInfo.style.display = "block";
            }
        }
     
        cardRadio.addEventListener("change", togglePaymentMethod);
        bankRadio.addEventListener("change", togglePaymentMethod);
    });
    </script>

    {% endif %}

{% endblock %}
