{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}募金プロジェクト一覧{% endblock %}

{% block header %}募金プロジェクト一覧{% endblock %}

{% block content %}
  <ul>
    {% for project in fundraising_projects %}
      <li>
        <h2><a href="{% url 'travelp:fundraising_detail' project.id %}">{{ project.title }}</a></h2>
        <p>{{ project.description }}</p>
        <p>目標金額: ¥{{ project.goal_amount|format_with_commas }}
           {% comment %} / 現在の集まった金額: ¥{{ project.raised_amount|format_with_commas }}</p> {% endcomment %}
        {% comment %} <p>残り金額: ¥{{ project.get_remaining_amount|format_wiproject.idth_commas }}</p> {% endcomment %}
        {% comment %} <a href="{% url 'travelp:fundraising_detail' project.id %}">詳細を見る</a> {% endcomment %}
        </a>
      </li>
    {% empty %}
      <p>募金プロジェクトはまだありません。</p>
    {% endfor %}
  </ul>
{% endblock %}
