<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>トラベルプ</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">トラベルプ</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="s_home.html">ホーム</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="s_sinsei.html">姉妹都市申請</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="s_page.html">募金ページ作成</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="s_post.html">投稿作成</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="s_history.html">募金履歴</a>
                <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a> -->
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!-- <h1 class="navbar-brand container-fluid">トラベルプ</h1> -->
                <h1 class="navbar-brand">姉妹都市申請</h1>
                <!-- <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                <!-- <h1 class="mt-4">Simple Sidebar</h1> -->
                <!-- コードを入力して申請するフォーム -->
                <form>
                    <label for="code1">市役所コード(支援する側)</label></br>
                    <input type="text" id="code1" name="code1" placeholder="入力してください"><br><br>
                  
                    <label for="code2">市役所コード(支援される側)</label></br>
                    <input type="text" id="code2" name="code2" placeholder="入力してください"><br><br>
                  
                    <input type="submit" value="申請" class="button">
                  </form>
                <!-- フォームここまで -->
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>